body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #c9c9fa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
    margin: 0 15px;
    color: #333;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(140, 151, 248);
}

.container {
    padding: 50px;
    max-width: 1100px;
    margin: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 42px;
}

.hero-text p {
    font-size: 18px;
    color: #555;
}

.profile-photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid rgb(97, 88, 105);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-top: 30px;
}

.profile-photo:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}


.btn {
    background: rgb(97, 88, 105);
    color: rgb(0, 0, 0);
    padding: 12px 22px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.btn:hover {
    background: rgb(140, 151, 248);
}

.card {
    background: rgb(250, 246, 246);
    padding: 25px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 20px;
}

table, th, td {
    border: 5px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 50px;
}
